<div class="container mt-3 min-vh-100">
  <div class="d-flex justify-content-end mb-3">
    <button
      class="btn btn-primary px-4 py-2 rounded m-3 add-book"
      [routerLink]="'/quote/form'"
    >
      Lägg till nytt citat
    </button>
  </div>
  <table class="table table-bordered table-info">
    <thead>
      <tr class="titles">
        <th class="text-center">ID</th>
        <th class="text-center">Författare</th>
        <th class="text-center">Innehåll</th>
        <th class="text-center">Handling</th>
      </tr>
    </thead>
    <tbody>
      <!-- Display the list of quotes -->
      <tr *ngFor="let item of quotes$ | async; trackBy: trackById">
        <td class="text-center">{{ item.id }}</td>
        <td class="text-center">{{ item.author }}</td>
        <td class="text-center">"{{ item.content }}"</td>
        <td class="text-center">
          <button class="btn btn-danger btn-sm">
            <i
              class="fa fa-trash"
              aria-hidden="true"
              (click)="delete(item.id)"
            ></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
