@import "ngx-toastr/toastr";
@import "@fortawesome/fontawesome-free/css/all.css";

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}
